*{
    margin: 0;
    padding:0;
}
html,body{
    height: 100%;
}
.l-wrapper{
    min-height: 100%;
    max-width: 1500px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.main{
    margin: 0 auto;
    padding: 50px 50px ;
    text-align: center;
    flex: 1 1 auto;
}
.main>img{
    margin-top: 20px;
    width: 70%;
}

.main>.button{
    margin-top: 20px;
}
.main>p{
    margin-top: 20px;
    font-size: 18px;
    padding: 20px 270px ;
}

.header__buttons{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    gap: 1000px;
    background: #2e5483;
    /*clip-path:polygon(0 10%, 100% 0, 100% 92%, 0 100%);*/
}

.header__links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.header__links {
    display: flex;
    gap: 50px;
    padding-top: 15px;
}

.header__buttons>a>img{
    width: 50px;
    height: 50px;
}
.header__buttons>.logo{
        margin-top: -2px;
}
.header__buttons>a,span{
    margin-top: 15px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;
}
.header_user_exit>span{
    margin-right: 5px;
}
.header_user_exit>a{
    margin-left: 5px;
    color: white;
    font-size: 15px;
    text-decoration: none;
}
.header_user_exit>img{
    margin-top: 9px;
    width: 25px;
    height: 25px;
}
.button{
    margin: 0 auto;
    padding: 5px;
    width: 15%;
    height: 50%;
    border: 1px solid blue;
    border-radius: 20px;
    background: blue;
}
.main>.button>span>a{
    color: white;
    text-decoration: none;
}
.main>.button>span>a:hover{
    color: blue;
}
.main>.button:hover{
    background: white;
    transition: 1.5ms;
}

footer{
    text-align: center;
    margin-top: auto;
    width: 100%;
    height: 50px;
    background: #2e5483;
}
/*sing_ in*/
.form-box {
    max-width: 300px;
    background: #f1f7fe;
    overflow: hidden;
    border-radius: 16px;
    color: #010101;
}

.form {

    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
}

/*Form text*/
.title {
    color: #0066ff;
    font-weight: bold;
    font-size: 1.6rem;
}

.subtitle {
    font-size: 1rem;
    color: #666;
}

/*Inputs box*/
.form-container {
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    margin: 1rem 0 .5rem;
    width: 100%;
}

.input {
    background: none;
    border: 0;
    outline: 0;
    height: 35px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: .9rem;
    padding: 8px 15px;
}

.form-section {
    padding: 16px;
    font-size: .85rem;
    background-color: #e0ecfb;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

.form-section a {
    font-weight: bold;
    color: #0066ff;
    transition: color .3s ease;
}

.form-section a:hover {
    color: #005ce6;
    text-decoration: underline;
}

/*Button*/
.form button {
    background-color: #0066ff;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
}

.form button:hover {
    background-color: white;
    color: #0066ff;
}
.form-container_cal {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="date"],
.form-group input[type="time"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

.form-group input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
ul li{
    list-style: none;
}

.no-user{
    color: red;
}
.sub-reserve{
    font-size: 18px;
    border-radius: 25px;
    color: #0066ff;
    background-color: navajowhite;
    height: 40px;
    margin-top: 50px;
    font-weight: bold;
    width: 110px;
}
h4{
    margin: 25px 0 15px 0;
}
.header_user_exit>span>b{
    font-size: 24px;
    font-weight: 400;
}
.success_img{
    width: 200px;
    height: 200px;
}
.btn:nth-child(3){
    padding: 3px;
    background-color: rgba(175,25,15,0.83);
    border: 1px solid black;
}
.btn:nth-child(3):hover{
    border: 1px solid black;
    background-color: #af0400;
    color: yellow;
}
.wrapperThank>h1{
    color: lightsalmon;
}
h4{
    font-style: oblique;
}